* {
  box-sizing: border-box;
  text-align: center;
}

html {
  font-family: poppins-regular, sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: var(--clr2);
  color: var(--clr9);
}

img {
  width: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

a {
  text-decoration: none;
}

svg {
  width: 25px;
  height: 25px;
}

/* Scroll Bar - Main */
::-webkit-scrollbar {
  display: none;
}
