.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clean-link > li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.clean-input {
  background: transparent;
  border: none;
  display: block;
  outline: none;
  margin: 0 auto;
}

.hide {
  display: none !important;
}
