.main-layout > *:not(.full) {
  /* max-width: 1200px; */
  max-width: var(--l);
  margin-left: auto;
  margin-right: auto;
}

.content-layout > *:not(.full) {
  background-color: #383b42;
  border-radius: 10px;
  max-width: var(--l);
  margin-left: auto;
  margin-right: auto;
}

.main-layout-footer {
  max-width: var(--l);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

@media (max-width: 780px) {
  .main-layout > *:not(.full) {
    max-width: var(--s);
  }

  .content-layout > *:not(.full) {
    max-width: var(--s);
  }

  .main-layout-footer {
    max-width: var(--s);
  }
}

@media (min-width: 780px) {
  .main-layout > *:not(.full) {
    max-width: var(--m);
  }

  .content-layout > *:not(.full) {
    max-width: var(--m);
  }

  .main-layout-footer {
    max-width: var(--m);
  }
}

@media (min-width: 1060px) {
  .main-layout > *:not(.full) {
    max-width: var(--l);
  }

  .content-layout > *:not(.full) {
    max-width: var(--l);
  }

  .main-layout-footer {
    max-width: var(--l);
  }
}
