/** awesome **/

/* solid */
@font-face {
  font-family: awe-solid;
  src: url('../../Fonts/Awesome/fa-solid-900.ttf');
}
.awe-solid::before {
  font-family: awe-solid;
}

.awe-solid.awe-add::before {
  content: '\2b';
}
.awe-solid.awe-switch::before {
  content: '\f034';
}
.awe-solid.awe-delete::before {
  content: '\f1f8';
}

.awe-solid.awe-align-left::before {
  content: '\f036';
}
.awe-solid.awe-align-center::before {
  content: '\f037';
}
.awe-solid.awe-align-right::before {
  content: '\f038';
}

.awe-solid.awe-pallette::before {
  content: '\f53f';
}
.awe-solid.awe-s::before {
  content: '\53';
}
.awe-solid.awe-t::before {
  content: '\54';
}

.awe-solid.awe-share::before {
  content: '\f1e0';
}
.awe-solid.awe-save::before {
  content: '\f019';
}
.awe-solid.awe-publish::before {
  content: '\e09a';
}

.awe-solid.awe-up::before {
  content: '\f106';
}
.awe-solid.awe-down::before {
  content: '\f107';
}
.awe-solid.awe-left::before {
  content: '\f104';
}
.awe-solid.awe-right::before {
  content: '\f105';
}

.awe-solid.awe-c-left::before {
  content: '\f0d9';
}
.awe-solid.awe-c-right::before {
  content: '\f0da';
}

.awe-solid.awe-decrease::before {
  content: '\f422';
}
.awe-solid.awe-increase::before {
  content: '\f424';
}

.awe-solid.awe-search::before {
  content: '\f002';
}

.awe-solid.awe-camera::before {
  content: '\f083';
}

/* regular */
@font-face {
  font-family: awe-regular;
  src: url('../../Fonts/Awesome/fa-regular-400.ttf');
}
.awe-regular::before {
  font-family: awe-regular;
}
