:root {
  /* ? Had no time to finish */
  /** pallete **/
  --clr-8: #a9a9a9;
  --clr-7: #d3d3d3;
  --clr-6: #fefefe66;
  --clr-5: #383b42;
  --clr-4: #272121;
  --clr-3: #2b2f2e;
  --clr-2: #00000026;
  --clr-1: #000000;
  --clr0: #ebeef317;
  --clr1: #eceff41c;
  --clr2: #22252c;
  --clr3: #5c5c5c8c;
  --clr4: #ffffff94;
  --clr5: #a9a9a9;
  --clr6: #bbc4d1;
  --clr7: #ebeef3;
  --clr8: #3d3d3d;
  --clr9: #ffffff;
  --clr10: #015d339c;
  --clr11: #015d33;
  --clr12: #3f714c;
  --clr13: #8dcf7e;
  --clr14: #82a28a;
  --clr15: #19a59f;
  --clr16: #21ac91;
  --clr17: #33be6d;
  --clr18: #fefefe;
  --clr19: #fcfcfc;

  /** bp **/
  --s: 600px;
  --m: 740px;
  --l: 980px;
}
