:root {
  /* ? Had no time to finish */
  /** pallete **/
  --clr0: #ebeef317;
  --clr1: #eceff41c;
  --clr2: #22252c;
  --clr3: #5c5c5c8c;
  --clr4: #ffffff94;
  --clr5: #a9a9a9;
  --clr6: #bbc4d1;
  --clr7: #ebeef3;
  --clr8: #3d3d3d;
  --clr9: #ffffff;
  --clr10: #015d339c;
  --clr11: #015d33;
  --clr12: #3f714c;
  --clr13: #8dcf7e;
  --clr14: #82a28a;
  --clr15: #19a59f;

  /** bp **/
  --s: 600px;
  --m: 740px;
  --l: 980px;
}
