/** About **/
.about-section {
  padding: 30px;
  margin-bottom: 16px;
  place-content: center;
  background-color: var(--clr-5);
}

/** Containers **/

.about-article {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.my-container {
  flex-basis: 50%;
  display: flex;
  place-content: center;
  padding: 10px;
}

.description-container {
  flex-basis: 50%;
}

.my-picture-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  place-items: center;
}

.picture-title {
  border-radius: 50%;
}

.name-title {
  font-family: poppins-semi-bold;
}
.job-title {
  font-family: poppins-regular;
  color: #add8e6;
}

.social-links {
  display: flex;
  place-content: center;
  /* justify-content: space-between; */
  flex-basis: 100%;
}

.social-links li {
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.social-links li a svg {
  padding: 10px;
  background-color: var(--clr9);
  border-radius: 50%;
  border: var(--clr-5);

  /* display: block; */
  /* font-size: 3em; */
  width: 2.812em;
  height: 2.825em;

  transition: font-size 0.3s;
  transition: fill 0.8s;
}
.social-links li a svg:hover {
  fill: var(--clr-8);
}
.social-links li a svg:active {
  font-size: 1.1em;
}

.description {
  padding-inline-end: 10vw;
  padding-inline-start: 10vw;
  color: var(--clr-7);
  font-size: 1em;
  font-family: poppins-light;
  text-align: center;
}

@media (max-width: 720px) {
  .about-section {
    padding-top: 15vh;
  }
}
