/** Canvas **/
.meme-section {
  padding: 30px;
  margin-bottom: 16px;
  display: flex;
  place-content: center;
  justify-content: space-evenly;
  place-items: center;

  gap: 10px;
}

/** Meme **/
.canvas-container {
  flex-basis: 30%;
  display: flex;
}

.meme-canvas {
  border: 6px solid var(--clr0);
  place-self: center;
  border-radius: 25px;
  margin-bottom: 8px;
}

/** Editor **/
.editor-container {
  flex-basis: 30%;
  border-radius: 30px;
  display: flex;
  background-color: var(--clr1);
}

.editor-nav button {
  font-size: 1.5em;
  box-shadow: 1px 5px 0 var(--clr3), inset 0 5px 0 var(--clr4);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 10px;
  transition: font-size 0.1s;
}
.editor-nav button:active {
  font-size: 1em;
  color: var(--clr5);
}

/** Text Input Container **/
.text-input-container {
  height: 37px;
  width: 80%;
  border-radius: 28px;
  box-shadow: 1px 5px 0 var(--clr6), inset 0 5px 0 var(--clr9);
  background-color: var(--clr7);
  display: flex;
  place-items: center;
  margin-bottom: 36px;
  place-content: center;
}

#text-input-editor {
  text-align: center;
  font-size: 1.5625em;
  font-family: poppins-medium;
  text-transform: uppercase;
  color: var(--clr8);
}

/** Lines and Movement Container **/

.lines-movement-container {
  display: flex;
  flex-flow: row-reverse;
  gap: 50px;
  place-items: center;
  justify-content: space-evenly;
  margin-bottom: 27px;
}

/** Lines Input Container **/
.lines-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-button {
  color: var(--clr9);
  text-shadow: 1px 3px 0 var(--clr10);
  box-shadow: 1px 5px 0 var(--clr11), inset 0 5px 0 var(--clr4) !important;
  background-image: linear-gradient(-38deg, var(--clr13) 0%, var(--clr12));
}
.switch-button {
  color: var(--clr9);
  text-shadow: 1px 3px 0 var(--clr10);
  box-shadow: 1px 5px 0 #036e78, inset 0 5px 0 var(--clr4) !important;

  background-image: linear-gradient(
    -38deg,
    #66c4dc 0%,
    #40b1ce 50%,
    #0c98bb 100%
  );
}
.delete-button {
  color: var(--clr9);
  text-shadow: 1px 3px 0 var(--clr10);
  box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 var(--clr4) !important;
  background-image: linear-gradient(
    -38deg,
    #cf1d37 0%,
    #cf1d37 1%,
    #f05036 100%
  );
}

/** Movement Input Container **/
.movement-input-container {
  background-color: var(--clr14);
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(3, fit-content);
  grid-template-rows: repeat(3, fit-content);
  place-content: center;
  place-items: center;
  height: fit-content;
  width: fit-content;
}

.movement-input-container .move-up {
  grid-column: 2;
  grid-row: 1;
}
.movement-input-container .move-right {
  grid-column: 3;
  grid-row: 2;
}
.movement-input-container .move-down {
  grid-column: 2;
  grid-row: 3;
}
.movement-input-container .move-left {
  grid-column: 1;
  grid-row: 2;
}

/** Text Control Container **/
.text-control-container {
  background-color: var(--clr15);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 22px;
  place-content: center;
  place-items: center;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 16px;
  gap: 10px;
}

.text-control-container .increase-button {
  grid-column: 1;
  grid-row: 1;
}
.text-control-container .decrease-button {
  grid-column: 5;
  grid-row: 1;
}
.text-control-container .align-left-button {
  grid-column: 2;
  grid-row: 1;
}
.text-control-container .align-center-button {
  grid-column: 3;
  grid-row: 1;
}
.text-control-container .align-right-button {
  grid-column: 4;
  grid-row: 1;
}

.text-control-container .stroke-color-input {
  width: max-content;
  grid-column: 1 / span 2;
  grid-row: 2;
}
.text-control-container .text-color-input {
  width: max-content;
  grid-column: 4 / span 2;
  grid-row: 2;
}

/** Sticker Container **/
.sticker-container {
  border-radius: 45px;
  background-color: var(--clr9);
  color: black;
  width: 80%;
  display: flex;
  margin-bottom: 25px;
  align-content: center;
  justify-content: space-around;
}

/** Save Container **/
.save-container {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 10px;
}

.save-container button {
  width: max-content;
  height: max-content;
  font-size: 1.3125em;
  color: var(--clr9);
  padding: 8px;
}

.save-container button:active {
  color: var(--clr9);
}

.save-container .save-button {
  background-color: #8f44bb;
  box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #b28bd4;
  border-radius: 15px;
}
.save-container .publish-button {
  background-color: #bb44a1;
  box-shadow: 1px 6px 0 #87267f, inset 0 5px 0 #d48bc9;
  border-radius: 15px;
}

.save-container .share-button {
  background-color: #1e7cd3;
  box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #7cb0e2;
  border-radius: 15px;
}

@media (max-width: 720px) {
  .meme-section {
    flex-direction: column;
    padding: auto;
    padding-bottom: 0px;
    padding-top: 18vh;
  }

  .meme-canvas {
    width: 90vw !important;
  }

  .editor-container {
    flex-basis: 30%;
    background-color: none;
    padding: auto;
  }

  .editor-nav {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 40px; */
  }

  .save-container {
    width: 80%;
    flex-wrap: wrap;
  }
}

@media (min-width: 721px) {
  .meme-section {
    flex-direction: column;
  }

  .meme-canvas {
    width: 100% !important;
  }

  .editor-nav {
    display: grid;
    /* grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(3fr); */
    grid-template-areas: 'txt sticker' 'mov control' 'save save';
    place-content: center;
    place-items: center;
    padding: 40px;
    row-gap: 36px;
  }

  .text-input-container {
    grid-area: txt;
    margin-bottom: 0;
  }

  .sticker-container {
    grid-area: sticker;
    margin-bottom: 0;
  }

  .lines-movement-container {
    grid-area: mov;
    flex-direction: row;
    margin-bottom: 0;
  }

  .text-control-container {
    grid-area: control;
    margin-bottom: 0;
  }

  .save-container {
    grid-area: save;
    margin-bottom: 0;
  }
}

@media (min-width: 1060px) {
  .editor-nav {
    display: flex;
    flex-direction: column;
  }

  .meme-section {
    flex-direction: row;
  }

  .meme-canvas {
    width: 450px !important;
    margin-bottom: 0;
  }

  .lines-movement-container {
    flex-direction: row-reverse;
  }
}
