/** Gallery **/
.gallery-section {
  padding: 30px;
  margin-bottom: 16px;
  place-content: center;
  background-color: var(--clr-5);
}

/** Nav **/
.gallery-nav {
  margin-bottom: 50px;
}

.gallery-nav-list {
  display: grid;
  gap: 15px;
  place-items: center;
}

.gallery-nav-list h1 {
  text-align: center;
}

.gallery-nav-list .camera-icon {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

#import-picture-input {
  display: none;
}

.gallery-nav-list .keyword-container {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  background-color: var(--clr-6);
  box-shadow: 0 3px 6px 1px var(--clr-2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;

  overflow: hidden;
  /*? Not Working */
  /* -ms-overflow-style: none !important; IE and Edge
  scrollbar-width: none !important; Firefox
  overflow: scroll; */
}

.gallery-nav-list .keyword-container a {
  cursor: pointer;
  font-size: 1em;
  font-family: poppins-light;
  text-align: center;
  transition: 0.3s ease;
}
.gallery-nav-list .keyword-container a:hover {
  scale: 1.2;
}

.gallery-nav-list .keyword-button {
  font-size: 1.125em;
  color: var(--clr18);
  text-align: center;
  font-family: poppins-regular;
  box-shadow: 0 3px 6px 1px var(--clr-2);
  border-radius: 3em;
  background-image: var(--clr20);
  padding: 0.5em 1.5em;
  border: none;

  transition: font-size 0.2s;
  cursor: not-allowed;
}
.gallery-nav-list .keyword-button:active {
  font-size: 1em;
}

.search-bar-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  height: 58px;
  width: 100%;
  background-color: var(--clr2);
  border-radius: 29px;
  place-items: center;
  padding: 0 1rem;
}

#search-bar-value {
  font-size: 1.3125em;
  font-family: poppins-regular;
  padding: 10px;
  color: var(--clr19);
  width: 100%;
  text-align: left;
}

.search-icon {
  font-size: 1.2em;
  background-image: var(--clr20);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: font-size 0.2s;
}

.search-icon:active {
  font-size: 0.875em;
}

/** Content **/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  place-items: center;
}

.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0px var(--clr-4);
  transition: 0.5s;
}
.image:hover {
  width: 108%;
  box-shadow: -1px 1px 2px 1px var(--clr-4);
  cursor: pointer;
}

@media (max-width: 720px) {
  .gallery-section {
    padding-top: 18vh;
  }
  .gallery-nav-list {
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: ' keywords keywords' 'search import';
  }

  .gallery-nav-list .keyword-container {
    /* grid-column: span 2;
    grid-row: 1; */

    grid-area: keywords;
  }

  .gallery-nav-list .search-bar {
    /* grid-column: span 2;
    grid-row: 2; */

    grid-area: search;

    justify-self: flex-end;
  }
  .gallery-nav-list .import-picture {
    /* grid-column: 1;
    grid-row: 3;
    justify-self: flex-end;
    padding-right: 40px; */

    grid-area: import;

    justify-self: flex-start;
  }
  .gallery-nav-list .keyword-list {
    /* grid-column: 2;
    grid-row: 3;
    justify-self: flex-start; */

    /* TODO: Removed Keyword Button until works! */
  }
}

@media (min-width: 721px) {
  .gallery-nav-list {
    /* grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch; */

    grid-template-areas: ' keywords keywords' 'search import';
  }

  .gallery-nav-list .keyword-container {
    /* grid-column: span 3;
    grid-row: 1; */

    grid-area: keywords;
  }

  .gallery-nav-list .search-bar {
    /* grid-column: 2;
    grid-row: 2; */

    grid-area: search;

    justify-self: flex-end;
  }
  .gallery-nav-list .import-picture {
    /* grid-column: 1;
    grid-row: 2; */

    grid-area: import;

    justify-self: flex-start;
  }
  .gallery-nav-list .keyword-list {
    /* grid-column: 3;
    grid-row: 2; */

    /* TODO: Removed Keyword Button until works! */
  }

  /* Scroll Bar */
  .gallery-container {
    overflow-y: scroll;

    height: 70vh;
    padding-inline-end: 40px;
  }

  /* Scroll Bar - Main */
  .gallery-container::-webkit-scrollbar {
    display: block;
    width: 13px;
  }

  /* Scroll Bar - Background */
  .gallery-container::-webkit-scrollbar-track {
    background-color: #22252c;
    border-radius: 7px;
  }

  /* Scroll Bar - Slider */
  .gallery-container::-webkit-scrollbar-thumb {
    background-image: var(--clr20);
    background-color: #22252c;
    border-radius: 7px;
  }
}

@media (min-width: 1060px) {
  .gallery-nav-list {
    /* grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px; */

    grid-template-areas: ' import search keywords';
  }

  .gallery-nav-list .import-picture {
    /* grid-column: 1;
    grid-row: 1; */

    grid-area: import;

    justify-self: center;
  }

  .gallery-nav-list .search-bar {
    /* grid-column: 2;
    grid-row: 1; */

    width: 100%;

    grid-area: search;
  }

  .gallery-nav-list .keyword-container {
    /* grid-column: 3;
    grid-row: 1; */

    grid-area: keywords;
  }

  .gallery-nav-list .keyword-list {
    /* grid-column: 4;
    grid-row: 1; */

    /* TODO: Removed Keyword Button until works! */
  }
}
