/** Gallery **/
.gallery-section {
  padding: 30px;
  margin-bottom: 16px;
  place-content: center;
  background-color: #383b42;
}

/** Nav **/
.gallery-nav {
  margin-bottom: 50px;
}

.gallery-nav-list {
  display: grid;
  /* grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr; */
  /* grid-template-areas: 'a b c'; */
  /* place-content: center; */
  gap: 15px;
  place-items: center;
}

.gallery-nav-list h1 {
  text-align: center;
}

.gallery-nav-list .camera-icon {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

#import-picture-input {
  display: none;
}

.gallery-nav-list .keyword-container {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.4);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;

  overflow: hidden;
  /*? Not Working */
  /* -ms-overflow-style: none !important; IE and Edge
  scrollbar-width: none !important; Firefox
  overflow: scroll; */
}

.gallery-nav-list .keyword-container a {
  cursor: pointer;
  font-size: 1em;
  font-family: poppins-light;
  text-align: center;
}

.gallery-nav-list .keyword-button {
  font-size: 1.125em;
  color: #fefefe;
  text-align: center;
  font-family: poppins-regular;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 3em;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  padding: 0.5em 1.5em;
  border: none;
}

.search-bar-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  height: 58px;
  width: 100%;
  background-color: #22252c;
  border-radius: 29px;
  place-items: center;
  padding: 0 1rem;
}

#search-bar-value {
  font-size: 1.3125em;
  font-family: poppins-regular;
  padding: 10px;
  color: rgb(252, 252, 252);
  width: 100%;
}

.search-icon {
  font-size: 1.2em;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/** Content **/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  place-items: center;
}

.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0px #272121;
  transition: 0.5s;
}
.image:hover {
  width: 108%;
  box-shadow: -1px 1px 2px 1px #272121;
  cursor: pointer;
}

@media (max-width: 720px) {
  .gallery-section {
    padding-top: 12vh;
    /* width: 100vw; */
  }
  .gallery-nav-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    /* grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
    grid-template-rows: 1fr 1fr 1fr; */
  }

  .gallery-nav-list .keyword-container {
    /* grid-area: key !important; */
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery-nav-list .search-bar {
    /* grid-area: search !important; */
    grid-column: span 2;
    grid-row: 2;
  }
  .gallery-nav-list .import-picture {
    /* grid-area: camera !important; */
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-end;
    padding-right: 40px;
  }
  .gallery-nav-list .keyword-list {
    /* grid-area: button !important; */
    grid-column: 2;
    grid-row: 3;
    justify-self: flex-start;
  }
}

@media (min-width: 720px) {
  .gallery-nav-list {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
  }

  .gallery-nav-list .keyword-container {
    /* grid-area: key !important; */
    grid-column: span 3;
    grid-row: 1;
  }

  .gallery-nav-list .search-bar {
    /* grid-area: search !important; */
    grid-column: 2;
    grid-row: 2;
  }
  .gallery-nav-list .import-picture {
    /* grid-area: camera !important; */
    grid-column: 1;
    grid-row: 2;
  }
  .gallery-nav-list .keyword-list {
    /* grid-area: button !important; */
    grid-column: 3;
    grid-row: 2;
  }
}

@media (min-width: 1060px) {
  .gallery-nav-list {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-areas: 'camera search key button'; */
    /* place-content: center; */
    gap: 15px;
    /* place-items: center; */
  }

  .gallery-nav-list .import-picture {
    /* grid-area: camera !important; */
    grid-column: 1;
    grid-row: 1;
  }
  .gallery-nav-list .search-bar {
    /* grid-area: search !important; */
    grid-column: 2;
    grid-row: 1;
  }
  .gallery-nav-list .keyword-container {
    /* grid-area: key !important; */
    grid-column: 3;
    grid-row: 1;
  }
  .gallery-nav-list .keyword-list {
    /* grid-area: button !important; */
    grid-column: 4;
    grid-row: 1;
  }
}
