.main-header {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo nav';
  margin-top: 16px;
  margin-bottom: 16px;
  width: 80vw;
  height: fit-content;
  padding: 10px;
  border-radius: 37px;
  background-color: #5970c1;
  background-image: var(--clr20);
}

.main-header .logo {
  cursor: pointer;
  grid-area: logo;
}

.main-header .logo img {
  transition: width 0.3s;
}

.main-header .logo img:active {
  width: 8em;
}

.main-header .main-nav {
  width: 100%;
  grid-area: nav;
}

.main-header .main-nav .main-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.main-header .main-nav .main-nav-list > li {
  flex-basis: 25%;
}

.main-nav-list li > button {
  background-color: transparent;
  color: var(--clr9);
  border: none;
  border-radius: 35px;

  font-size: 1.325em;
  width: 5em;
  height: 2.5em;
  font-weight: 500;
  font-family: poppins-regular;
  transition: 0.2s;
}
.main-nav-list li button:hover {
  background-color: var(--clr18);
  color: var(--clr16);
  box-shadow: 0 3px 6px 1px var(--clr-2);
}

#dropdown-langs-content {
  margin: auto;
  color: var(--clr9);
  font-size: 1.325em;

  display: block;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  outline: none;
  box-shadow: none;
}
#dropdown-langs-content > option {
  margin: auto;
  color: var(--clr-1);
  font-size: 1em;

  display: block;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

#dropdown-langs-content::after {
  content: '\f107';
}

@media (max-width: 720px) {
  .main-header {
    position: fixed;
    margin-top: 0 !important;
    border-radius: 0;
    width: 100vw !important;
    padding-inline: 5vw;

    /* height: fit-content; */
    align-items: flex-start;

    box-shadow: 1px 0px 8px 2px var(--clr-3);
  }

  .main-header .main-nav .main-nav-list {
    display: flex;
    float: right;
    flex-direction: column-reverse;
  }

  .logo {
    padding-top: 10px;
  }

  .main-nav-more-list {
    display: block;
  }
}

@media (min-width: 720px) {
  .main-nav-gallery-list {
    display: block !important;
  }
  .main-nav-memes-list {
    display: block !important;
  }
  .main-nav-about-list {
    display: block !important;
  }
  .dropdown-langs {
    display: block !important;
  }
  .main-nav-more-list {
    display: none !important;
  }
}

@media (min-width: 1060px) {
}
